.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-card{
    margin: 0 auto;
    width: 70%;
    display: inline-block;
    vertical-align: middle;
  }
  .image-size {
    width: 40%;
    height: auto;
  }