
<div class="container" > 
    <div class="row" style="  top:50%; ">
      <mat-card class="example-card shadow mt-4">
          <img mat-card-image class="img-fluid rounded mx-auto d-block image-size" [src]="ultimoUsuario.imagen | image">      
          <mat-card-content>
            <div class="input-group mb-3">
                <span class="input-group-text"><mat-icon matPrefix>mail_outline</mat-icon> </span>
                <input type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$"  [(ngModel)]="correo" class="form-control" placeholder="usuario@ia.com.mx">
            </div>
        
          </mat-card-content>

          <mat-card-actions>
              <div class="row">
                <button class="btn btn-primary" (click)="ingresar()">Ingresar</button>
              </div>
           
          </mat-card-actions>
          <mat-card-footer *ngIf="consultando">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
            </div>
          </mat-card-footer>
        </mat-card>
    
    </div>
  </div>
  
  