<div class="container" > 
    <div class="row" style="  top:50%; ">
      <mat-card class="shadow mt-4">
        <div class="row mt-2 mb-2">
            <div class="col">
              <section  align="left">
                <button mat-icon-button routerLink="/login"> 
                  <mat-icon>keyboard_backspace</mat-icon>
                </button>
              </section>
            </div>
        </div>
        <div class="mb-2 row" *ngIf="this.cambiandoImagen == false">
            <img id="inputFoto" [src]="imagenSeleccionada | image"  class="img-fluid mx-auto d-block img_usuario" alt="Avatar">
                
        </div>
        <div style="text-align: center;">
            <div class="custom-file">
                <input type='file'
                accept='image/*'
                (change)='addImge($event)'>
                 <label class="custom-file-label" for="customFileLang">{{''}}</label>
            </div>
        </div>
        <form [formGroup]='formUser'  class="example-form mt-2" >
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input type="text" [formControl]="nombre" matInput>
                            <mat-error *ngIf="nombre.hasError('required')">
                                El nombre es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Apellidos</mat-label>
                            <input type="text" [formControl]="apellidos" matInput>
                            <mat-error *ngIf="apellidos.hasError('required')">
                                El apellido es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Corre electrónico</mat-label>
                <input type="email" matInput [formControl]="email" placeholder="Ej. usuario@ia.com.mx">
                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                Introduce un correo válido.
                 </mat-error>
                <mat-error *ngIf="email.hasError('required')">
                    El correo es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Dirección</mat-label>
                <input type="text" matInput [formControl]="direccion">
                <mat-error *ngIf="direccion.hasError('required')">
                  La dirección es <strong>requerida</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Teléfono</mat-label>
                <input type="text" matInput [formControl]="telefono">
                <mat-error *ngIf="telefono.hasError('required')">
                  El télefono es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="telefono.hasError('pattern')">
                    Introduce un número válido Ej. <strong> 44 2444 4444</strong>
                  </mat-error>
            </mat-form-field>

          </form>
          <div class=" row example-full-width" appearance="fill">
            <button class="btn btn-primary" type="submit" (click)="enviarInformacion()" [disabled]="!formUser.valid">Guardar</button>
          </div>

          
          
      </mat-card>
    </div>
</div>