.example-form {
    min-width: 150px;
    max-width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .img_usuario {
    vertical-align: middle;
    width: 25%;
    border-radius: 50%;
  }