.example-full-width {
    width: 100%;
  }
  .example-card{
    margin: 0 auto;
    width: 70%;
    display: inline-block;
    vertical-align: middle;
  }
  .image-size {
    width: 40%;
    height: auto;
  }
  .img_icon {
    vertical-align: middle;
    width: 90%;
    border-radius: 50%;
  }