
<div class="container" > 
    <div class="row" style="  top:50%; ">
      <mat-card class="shadow mt-4">
        <div class="row mt-2 mb-2">
          <div class="col">
            <section  align="left">
              <button mat-icon-button routerLink="/login"> 
                <mat-icon>keyboard_backspace</mat-icon>
              </button>
            </section>
          </div>
          <div class="col">
            <section align="right">
              <button  mat-fab color="primary" routerLink="/usuario/nuevo"> 
                <mat-icon>add</mat-icon>
              </button>
            </section>
          </div>
            
        </div>
        <img mat-card-image class="img-fluid rounded mx-auto d-block image-size" [src]="this.imagenSeleccionada | image">   

        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Celular</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of usuarios; let i=index">
                    <td> <div mat-card-avatar>
                      <img [src]=" usuario.imagen | image" class="img_icon" alt="">
                    </div> </td>
                    <td>{{usuario.nombre + " " + usuario.apellidos}}</td>
                    <td>{{usuario.correo}}</td>
                    <td>{{usuario.telefono}}</td>
                    <td>
                        <button mat-button (click)="eliminar(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                
              </tbody>
        </table>

      </mat-card>
    </div>
</div>

